@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body{
   font-family: "Outfit", sans-serif;
   background-color: #fcfbfc;
   overflow-x: hidden;


}
/* Esto elimina el borde de foco azul/negro en cualquier elemento SVG o sus hijos */
svg:focus,
svg *:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Esto elimina el efecto de resaltado al tocar en pantallas móviles */
* {
  -webkit-tap-highlight-color: transparent !important;
}